<h2> Edit product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <% if @product.image.present? %>
    <span>目前图片</span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
